## pandas exercise notebook: answers

These are my own solutions to the problems. They are by no menas the best ones.

In [1]:
# Load and prepare the data

import pandas as pd
%matplotlib inline

df = pd.read_csv('2015-combined-salary-seconded-utf8-en_3.csv')
col_names = ['sector', 'lastname', 'firstname', 'salary', 'benefits', 'employer', 'title', 'year']
df.columns = col_names
df[['salary', 'benefits']] = df[['salary', 'benefits']].replace('[\$,]', '', regex=True).astype(float)

### 1. Which sector has the lowest average benefits?

In [21]:
df.groupby('sector').mean().sort_values('benefits')

,salary,benefits,year
sector,,,
Colleges,113357.391554,251.264136,2015
Government of Ontario - Ministries,124512.969830,261.346373,2015
Seconded (Energy)*,112957.436667,434.026667,2015
Seconded (Labour)*,102417.140000,446.020000,2015
School Boards,113347.600003,547.821967,2015
Universities,147334.276900,590.674736,2015
Government of Ontario - Legislative Assembly and Offices,135389.222025,595.027603,2015
Seconded (Children and Youth Services)*,115861.720000,679.360000,2015
Seconded (Education)*,129614.415476,800.920794,2015
Crown Agencies,134650.533521,805.709450,2015
Hospitals and Boards of Public Health,129183.978237,839.496113,2015
Municipalities and Services,118870.627882,949.985000,2015
Seconded (Community Safety and Correctional Services)*,111766.567778,973.809722,2015
Ontario Power Generation,140659.845823,1341.340347,2015
Government of Ontario - Judiciary,198500.998883,1644.095453,2015
Other Public Sector Employers,133851.780048,2480.115320,2015
Seconded (Health and LongTerm Care)*,224621.180000,4284.833333,2015
Seconded (Community and Social Services)*,131395.660000,7896.510000,2015

### 2. Find the employee(s) who makes the closest to the mean salary

In [7]:
mean = df.salary.mean()
mean

127095.7220390681

In [11]:
df[(df.salary <= mean + 1) & (df.salary >= mean - 1)]

,sector,lastname,firstname,salary,benefits,employer,title,year
26191,Hospitals and Boards of Public Health,Bedard,Danielle,127095.25,415.17,London Health Sciences Centre,Psychologist,2015
49034,Municipalities and Services,Kellershohn,David,127094.95,914.20,City of Toronto,Manager Storm Water Management,2015
62892,Municipalities and Services,Koscinski,Paul,127096.50,483.56,Regional Municipality of Niagara - Niagara Reg...,Detective Sergeant,2015

### 3. What's the mean salary of psychologists? How is it different from the overall mean?

In [2]:
psychmean = df[df.title.str.contains('Psychologist')].salary.mean()
psychmean - df.salary.mean()

-11402.039470007265

### 4.  How many employers have people who make $500,000 or more?

In [14]:
len(df[df.salary >= 500000].employer.unique())

29

### 5. How many employees work in school boards that have the word 'Ottawa' in the name?

In [16]:
df[df.employer.str.contains('Ottawa')].sector.value_counts()

Municipalities and Services                               2939
Universities                                              1400
School Boards                                              798
Hospitals and Boards of Public Health                      743
Other Public Sector Employers                               97
Seconded (Community Safety and Correctional Services)*       2
Crown Agencies                                               2
Seconded (Education)*                                        1
Name: sector, dtype: int64